.Pokedex-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Pokedex-title {
  text-align: center;
}
.Pokedex-winner {
  color: red;
}
.Pokedex-loser {
  color: green;
}
.Pokedex {
  text-align: center;
}
